{
  "openapi": "3.1.0",
  "info": {
    "title": "MDEx Discovery API",
    "version": "1.0.0",
    "description": "Read-only discovery resources published by the MDEx website. This API does not render Markdown or execute the MDEx library."
  },
  "servers": [
    {
      "url": "https://mdelixir.dev"
    }
  ],
  "paths": {
    "/.well-known/api-catalog": {
      "get": {
        "summary": "Get the API catalog",
        "operationId": "getApiCatalog",
        "responses": {
          "200": {
            "description": "RFC 9727 API catalog",
            "content": {
              "application/linkset+json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksetDocument"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Get the agent skills index",
        "operationId": "getAgentSkillsIndex",
        "responses": {
          "200": {
            "description": "Agent skills discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-catalog.json": {
      "get": {
        "summary": "Get the agentic resource discovery manifest",
        "operationId": "getAgenticResourceManifest",
        "responses": {
          "200": {
            "description": "Agentic resource discovery manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Get OAuth Protected Resource Metadata",
        "operationId": "getOAuthProtectedResourceMetadata",
        "responses": {
          "200": {
            "description": "RFC 9728 metadata describing anonymous public access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Get OAuth Authorization Server Metadata",
        "operationId": "getOAuthAuthorizationServerMetadata",
        "responses": {
          "200": {
            "description": "RFC 8414 and Auth.md metadata describing anonymous public access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "summary": "Get the MCP Server Card",
        "operationId": "getMcpServerCard",
        "responses": {
          "200": {
            "description": "MCP Server Card for the read-only MDEx server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/index.md": {
      "get": {
        "summary": "Get the agent-oriented MDEx guide",
        "operationId": "getAgentGuide",
        "responses": {
          "200": {
            "description": "Agent-oriented MDEx guide",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Get the concise project index",
        "operationId": "getLlmsText",
        "responses": {
          "200": {
            "description": "Plain-text project index",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "summary": "Get agent access and registration guidance",
        "operationId": "getAgentAuthGuidance",
        "responses": {
          "200": {
            "description": "Public-access and agent-registration guidance",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/agent/auth": {
      "get": {
        "summary": "Get the anonymous agent-registration descriptor",
        "operationId": "getAgentAuthDescriptor",
        "responses": {
          "200": {
            "description": "Registration is not required and no credential is issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Confirm anonymous agent access",
        "operationId": "confirmAnonymousAgentAccess",
        "responses": {
          "200": {
            "description": "Registration is not required and no credential is issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Call the public read-only MCP server",
        "operationId": "callMcpServer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "JSON-RPC notification accepted"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Get discovery API health",
        "operationId": "getDiscoveryApiHealth",
        "responses": {
          "200": {
            "description": "Discovery API is available",
            "content": {
              "application/health+json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "required": ["href"],
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Linkset": {
        "type": "object",
        "required": ["anchor"],
        "properties": {
          "anchor": {
            "type": "string",
            "format": "uri"
          },
          "service-desc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "service-doc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "status": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        },
        "additionalProperties": true
      },
      "LinksetDocument": {
        "type": "object",
        "required": ["linkset"],
        "properties": {
          "linkset": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Linkset"
            }
          }
        },
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "required": ["status", "serviceId"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pass"]
          },
          "serviceId": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      }
    }
  }
}
